@charset "UTF-8";

/*  Estilo para Tela*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

header {
    background-color: rgba(154, 142, 142, 0.847);
}

header > h1 {
    list-style-type: none;
    background-color: gray;
}

menu li {
    background-color: rgba(47, 79, 79, 0.699);
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}